import * as React from 'react'
import * as components from '../components/index';

/* <%= name %> layout */
export default function <%= name %>(props: any) {
    return <div><%= name %> container</div>
}