import * as React from 'react'
import * as ReactDOM from 'react-dom';

import * as components from './components/index';
import * as containers from './containers/index';

function App(props) {
    return <div><%= appname %></div>
}

ReactDOM.render(<App />, document.getElementById('app'));